<%- include("partials/navbar"); -%>
<div class="container">
    <h1>Create</h1>
    <form action="/create" method="post">
        <div class="form-group">
            <label>Date</label>
            <input class="form-control" type="date" name="postDate">
            <label>Title</label>
            <input class="form-control" type="text" name="postTitle" autocomplete=off>
            <label>Post</label>
            <textarea class="form-control" name="postContent" rows="5" cols="30"></textarea>
            <label>Image</label>
            <input type="file" name="picture" class="filepond">
        </div>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>
</div>
<%- include("partials/footer"); -%>