<%- include("partials/header"); -%>

<div class="home-container">
  <% if(success_msg != "") { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%=success_msg%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <i class="fas fa-book fa-9x"></i>
  <h1>Journal</h1>
  <div class="buttons">
    <a class="btn btn-light btn-lg" href="/register">Register</a>
    <a class="btn btn-dark btn-lg" href="/login">Login</a>
  </div>
</div>

<%- include("partials/footer"); -%>
