<%- include("partials/header"); -%>

<div class="home-container">
    <i class="fas fa-book fa-9x"></i>
    <h1>Journal</h1>
    <div class="buttons">
        <a class="btn btn-light btn-lg" href="/register">Register</a>
        <a class="btn btn-dark btn-lg" href="/login">Login</a>
    </div>
</div>

<%- include("partials/footer"); -%>