<%- include("partials/navbar"); -%>

<div class="container">
    <% if(typeof user.pictureType != "undefined") { %>
    <img class="profile-img" src=<%=`data:${user.pictureType};charset=utf-8;base64,${user.picture.toString('base64')}`%>>
    <% } %>
    <p>Join date: <%=user.createdAt%></p>
</div>

<%- include("partials/footer"); -%>